<!doctype html>
<html>
<head>
    <title>{{title}} | {{page.title}}</title>
    {{> meta}}
    {{> imports}}
</head>
<body>
    <div>
        <div class="container grid-lg">
            {{> @partial-block }}
        </div>
    </div>
</body>
</html>
