{{#>default section=sections.home page=sections.home}}
<div class="columns">
    <div class="column">
        <div class="hero bg-gray">
            <div class="hero-body">
                <h1>{{page.title}}</h1>
                <p>{{../user.content}}</p>
            </div>
        </div>
    </div>
</div>
{{/default}}